{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <img src="{% static 'img/logo.jpg' %}" alt="Logo Veterinaria">
        <h2>Veterinaria</h2>
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'ver_cliente' %}">Cliente</a>
        <a href="{% url 'ver_mascotas' %}">Mascotas</a>
        <a href="{% url 'ver_ficha' %}">Fichas</a>
        <a href="#">Reportes</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Cerrar sesión</button>
        </form>
    </div>

    <div class="home-container">
        <h1>¡Bienvenida Karla Cáceres!</h1>
        <p>Este es el panel de inicio</p>

        <div class="button-container">
            <a href="{% url 'agregar_cliente' %}"><button>Agregar Cliente</button></a>
            <a href="{% url 'agregar_mascota' %}"><button>Agregar Mascota</button></a>
            <a href="{% url 'agregar_ficha' %}"><button>Agregar Ficha</button></a>
            <button>Ver Gráficos</button>
        </div>

        <div class="tabla-container">
            <h2>Últimas 10 Fichas Realizadas</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID Ficha</th>
                        <th>Mascota</th>
                        <th>Cliente</th>
                        <th>Fecha Visita</th>
                        <th>Motivo Consulta</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ficha in fichas %}
                        <tr>
                            <td>{{ ficha.id_ficha }}</td>
                            <td>{{ ficha.mascota.nombre }}</td>
                            <td>{{ ficha.cliente.nombre }}</td>
                            <td>{{ ficha.fecha_visita }}</td>
                            <td>{{ ficha.motivo_consulta }}</td>
                            <td><a href="{% url 'ver_detalle_ficha' ficha.id_ficha %}"><button>Ver Detalle</button></a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No hay fichas disponibles.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
