{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Fichas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <img src="{% static 'img/logo.jpg' %}" alt="Logo Veterinaria">
        <h2>Veterinaria</h2>
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'ver_cliente' %}">Cliente</a>
        <a href="{% url 'ver_mascotas' %}">Mascotas</a>
        <a href="{% url 'ver_ficha' %}">Fichas</a>
        <a href="#">Reportes</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Cerrar sesión</button>
        </form>
    </div>

    <!-- Main Content -->
    <div class="home-container">
        <h1 class="ver-cliente-h1">Lista de Fichas</h1>

        <!-- Contenedor para la tabla -->
        <div class="tabla-container">
            <table class="ver-cliente-table">
                <thead>
                    <tr class="ver-cliente-tr">
                        <th class="ver-cliente-th">ID Ficha</th>
                        <th class="ver-cliente-th">Mascota</th>
                        <th class="ver-cliente-th">Cliente</th>
                        <th class="ver-cliente-th">Fecha de Visita</th>
                        <th class="ver-cliente-th">Motivo Consulta</th>
                        <th class="ver-cliente-th">Tratamiento</th>
                        <th class="ver-cliente-th">Recomendaciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ficha in fichas %}
                    <tr class="ver-cliente-tr">
                        <td class="ver-cliente-td">{{ ficha.id_ficha }}</td>
                        <td class="ver-cliente-td">{{ ficha.mascota.nombre }}</td>
                        <td class="ver-cliente-td">{{ ficha.cliente.nombre }}</td>
                        <td class="ver-cliente-td">{{ ficha.fecha_visita }}</td>
                        <td class="ver-cliente-td">{{ ficha.motivo_consulta }}</td>
                        <td class="ver-cliente-td">{{ ficha.tratamiento }}</td>
                        <td class="ver-cliente-td">{{ ficha.recomendaciones }}</td>
                    </tr>
                    {% empty %}
                    <tr class="ver-cliente-tr">
                        <td class="ver-cliente-td" colspan="7">No hay fichas registradas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
