body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("{% static 'img/fondo_login.png' %}"); /* Fondo de login */
    background-size: cover;
    background-position: center;
    color: #333;
    height: 100vh; /* Asegura que la imagen cubra toda la altura de la ventana */
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.login-container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente para el formulario */
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.login-container img {
    width: 120px;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-container button {
    padding: 12px 20px;
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #4a52d1;
}

.home-container {
    padding: 40px;
    text-align: center;
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
